/* Style the Twitter icon */
.social-icons a i.fa-brands.fa-square-x-twitter {
    font-size: 30px; /* Adjust the size as needed */
    color: #000000; /* Twitter color, replace with your desired color */
    margin-right: 20px; /* Spacing between icons */
  }
  
  /* Style the LinkedIn icon */
  .social-icons a i.fa-brands.fa-linkedin {
    font-size: 30px; /* Adjust the size as needed */
    color: #000000; /* LinkedIn color, replace with your desired color */
    margin-right: 20px; /* Spacing between icons */
  }
  
  /* Style the GitHub icon */
  .social-icons a i.fab.fa-square-github {
    font-size: 30px; /* Adjust the size as needed */
    color: #000000; /* GitHub color, replace with your desired color */
    margin-right: 20px; /* Spacing between icons */
  }
  
  /* Style the CV icon */
  .social-icons a i.fas.fa-file {
    font-size: 30px; /* Adjust the size as needed */
    color: #000; /* Icon color, replace with your desired color */
    margin-right: 40px; /* Spacing between icons */
  }
  
  /* Style the Email icon */
  .social-icons a i.fas.fa-solid.fa-envelope {
    font-size: 30px; /* Adjust the size as needed */
    color: #000; /* Icon color, replace with your desired color */
    margin-right: 20px; /* Spacing between icons */
  }

  .social-icons a i.fab.fa-google-scholar {
    width: 30px; /* Adjust the size as needed */
    height: 30px; /* Ensure the icon stays square */
    margin-right: 30px; /* Spacing between icons */
}
  
  .social-icons img {
    width: 30px; /* Set the width as needed */
    height: 30px; /* Set the height as needed */
    vertical-align: top; /* Aligns the icon vertically */
  }
  
  /* CV Icon Specific Style */
  .social-icons a.cv-icon {
    /* If you want a different size for the CV icon, set it here */
    width: 30px;
    height: 30px;
  }
  
  .social-icons a.cv-icon:hover {
    opacity: 0.7; /* Adds a hover effect to the CV icon */
  }